<h2>Directory:</h2>
<ul class="dir">
{{#directory}}
    <li><a href="{{path}}">{{title}}</a></li>
{{/directory}}
</ul>
<h2>Document:</h2>
<ul class="dir">
{{#document}}
    <li><a href="{{path}}">{{title}}</a></li>
{{/document}}
</ul>
<h2>Other:</h2>
<ul class="dir">
{{#other}}
    <li><a href="{{path}}">{{title}}</a></li>
{{/other}}
</ul>
